/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/**
 * theme.css
 *
 */

:root {
  --hwd-pixel: 1px;

  --chrome-color: black;
  --chrome-background-color: white;
}

/* Aero tweaks */
:root[os="windows"] {
  --chrome-background-color: transparent;
}

@media (min-resolution: 2dppx) {
  :root {
    --hwd-pixel: 0.5px;
  }
}

html {
  color: var(--chrome-color);
  background-color: var(--chrome-background-color);
  background-image: var(--header-background-image);
}

/* Aero tweaks */
html[os="windows"] {
  -moz-appearance: -moz-win-borderless-glass;
}

[os="osx"] .toolbar:first-of-type {
  /* Some room for the window controls */
  padding-left: 70px;
}

body:not([os="osx"]) .iframes {
  background-color: white;
}
